
@{
    ViewBag.Title = "ReceiptEnter";
    Layout = "~/Views/Shared/MyShareView.cshtml";
}

@section mycss{
    <link href="~/Areas/XiTong/Content/itstyles.css" rel="stylesheet" />
    <link href="~/Areas/XiTong/Content/axure_rp_page.css" rel="stylesheet" />
    <link href="~/Areas/XiTong/Content/data/styles.css" rel="stylesheet" />
    <link href="~/Areas/XiTong/Content/jquery-ui-themes.css" rel="stylesheet" />
    <link href="~/Areas/XiTong/Content/styles.css" rel="stylesheet" />
    <style>
        a {
            text-decoration: none;
        }

        ul {
            margin: 0px;
            padding: 0px;
        }

            ul li {
                list-style: none;
            }

        .db {
            color: #CCCCCC;
        }

        .taskdetails_top span {
            margin-right: 35px;
        }

        .taskdetails_top {
            line-height: 30px;
            font-size: 13px;
            font-weight: 400;
            width: 105%;
        }

        #tabdata_right {
            width: 450px;
            margin-left: 20px;
            margin-top: 15px;
            height:400px;
        }

            #tabdata_right td {
                height: 30px;
            }

        .poleul li {
            font-size: 13px;
            font-weight: 400;
            line-height: 26px;
            cursor: pointer;
        }

        .selected1 {
            padding: 3px 3px;
            background-color: #bcbcbc;
        }
        .fc{
            color:red;
        }
    </style>
}

@section myscript{

}

@section rightdiv{
    <!-- Unnamed (形状) -->
    <div id="u16" class="ax_形状">
        <img id="u16_img" class="img " src="~/images/u16.png" />
        <!-- Unnamed () -->
        <div id="u17" class="text"></div>
    </div>

    <!-- 导航 (动态面板) -->
    <div id="u18" class="ax_动态面板" data-label="导航">
        <div id="u18_state0" class="panel_state" data-label="系统管理">

            <!-- Unnamed (形状) -->
            <div id="u19" class="ax_形状">
                <img id="u19_img" class="img " src="~/images/u62.png" />
                <!-- Unnamed () -->
                <div id="u20" class="text"></div>
            </div>

            <!-- 1 (形状) -->
            <div id="u21" class="ax_文本" data-label="1">
                <img id="u21_img" class="img " src="~/Areas/XiTong/imgs/transparent.gif" />
                <!-- Unnamed () -->
                <div id="u22" class="text">
                    <p><span>巡检任务制定与分配</span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u23" class="ax_文本">
                <img id="u23_img" class="img " src="~/Areas/XiTong/imgs/transparent.gif" />
                <!-- Unnamed () -->
                <div id="u24" class="text">
                    <p><span>杆塔管理</span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u25" class="ax_文本">
                <img id="u25_img" class="img " src="~/Areas/XiTong/imgs/transparent.gif" />
                <!-- Unnamed () -->
                <div id="u26" class="text">
                    <p><span>线路管理</span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u27" class="ax_文本">
                <img id="u27_img" class="img " src="~/Areas/XiTong/imgs/transparent.gif" />
                <!-- Unnamed () -->
                <div id="u28" class="text">
                    <p><span>缺陷管理</span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u29" class="ax_文本">
                <img id="u29_img" class="img " src="~/Areas/XiTong/imgs/transparent.gif" />
                <!-- Unnamed () -->
                <div id="u30" class="text">
                    <p><span>巡检任务</span><span>管理</span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u31" class="ax_文本">
                <img id="u31_img" class="img " src="~/Areas/XiTong/imgs/transparent.gif" />
                <!-- Unnamed () -->
                <div id="u32" class="text">
                    <p><span>消缺任务管理</span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u33" class="ax_文本">
                <img id="u33_img" class="img " src="~/Areas/XiTong/imgs/transparent.gif" />
                <!-- Unnamed () -->
                <div id="u34" class="text">
                    <p><span>系统管理</span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u35" class="ax_文本">
                <img id="u35_img" class="img " src="~/Areas/XiTong/imgs/transparent.gif" />
                <!-- Unnamed () -->
                <div id="u36" class="text">
                    <p><span>信息统计</span></p>
                </div>
            </div>

            <!-- 1 (形状) -->
            <div id="u37" class="ax_文本" data-label="1">
                <img id="u37_img" class="img " src="~/Areas/XiTong/imgs/transparent.gif" />
                <!-- Unnamed () -->
                <div id="u38" class="text">
                    <p><span>巡检任务</span><span>执行与回执</span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u39" class="ax_文本">
                <img id="u39_img" class="img " src="~/Areas/XiTong/imgs/transparent.gif" />
                <!-- Unnamed () -->
                <div id="u40" class="text">
                    <p><span>我的工作平台</span></p>
                </div>
            </div>

            <!-- 1 (形状) -->
            <div id="u41" class="ax_文本" data-label="1">
                <img id="u41_img" class="img " src="~/Areas/XiTong/imgs/transparent.gif" />
                <!-- Unnamed () -->
                <div id="u42" class="text">
                    <p><span>缺陷查询</span></p>
                </div>
            </div>
        </div>
    </div>

    <div style="width:100%;background-color:#f4f4f4;margin-top:70px;">
        <div class="container">
            <div class="row">
                <p style="margin-left:40px;margin-top:15px;">
                    系统管理>>&nbsp;角色管理
                </p>
            </div>
        </div>
       
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1" style="margin-top:10px;width:104%;">
                <div style="border:1px solid black;width:182px;float:left;background-color:white;margin-left:-13px;padding-bottom:50px;height:450px;">
                    <p style="margin-left:50px;margin-top:30px;">{{inspectordeta.linename}}</p>
                    <ul class="poleul" style="margin-left:65px;font-size:14px;"></ul>
                </div>
                <img src="~/Areas/XiTong/imgs/u34.png" style="float:left;margin-left:10px;margin-top:90px;" />
                <div style="border:1px solid black;width:626px;float:left;margin-left:12px;background-color:white;height:450px;">
                    <table id="tabdata_right">
                        <tr>
                            <td style="width:100px;">
                                线路编号:
                            </td>
                            <td style="width:200px;">
                                {{inspectordeta.linecode}}
                            </td>
                           <td>
                              
                           </td>
                        </tr>

                        <tr>
                            <td>杆塔编号: </td>
                            <td>{{polecode}}</td>
                          <td>
                            
                          </td>
                        </tr>

                        <tr>
                            <td>
                              缺陷类型:
                            </td>
                            <td>
                                <el-select @@change="change1" v-model="txtbugtype" clearable placeholder="请选择">
                                    <el-option v-for="item in bugtypelist"
                                               :key="item.configValueId"
                                               :label="item.configValueName"
                                               :value="item.configValueId">
                                    </el-option>
                                </el-select>
                            </td>
                            <td>
                                <span id="bugtypemsg" style="font-size:14px;color:red;"></span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                缺陷级别:
                            </td>
                            <td>
                                <el-select @@change="change2" v-model="txtbuglevel" clearable placeholder="请选择">
                                    <el-option v-for="item in buglevellist"
                                               :key="item.configValueId"
                                               :label="item.configValueName"
                                               :value="item.configValueId">
                                    </el-option>
                                </el-select>
                            </td>
                            <td>
                                <span id="buglevelmsg" style="font-size:14px;color:red;"></span>
                            </td>
                        </tr>
                        <tr>
                          <td>
                              完好率:
                          </td>
                            <td>
                                <el-input placeholder="请输入内容"
                                          v-model="txtintactrate"
                                          clearable>
                                </el-input>

                            </td>
                            <td>
                                <span id="intactratemsg" style="font-size:14px;color:red;"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                发现时间:
                            </td>
                            <td>
                               <span style="color:#A1A1A1;" id="discovertime"></span>
                            </td>
                            <td>
                               
                            </td>
                        </tr>
                        <tr>
                            <td>
                               发现人员:
                            </td>
                            <td>
                               <span style="color:#A1A1A1;" id="discovername">
                                   @ViewData["usercode"]
                               </span>
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                        <tr>
                            <td>
                                缺陷描述: 
                            </td>
                            <td>
                                <el-input style="height:100px;" type="textarea"
                                          rows="4"
                                          placeholder="请输入内容"
                                          v-model="txtbugdesc">
                                </el-input>

                            </td>
                            <td>
                                <span id="descmsg" style="font-size:14px;color:red;"></span>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <el-button @@click="uploadreceipt" style="margin-top:15px;margin-left:50px;" type="primary" round>上传回执</el-button>
            <el-button @@click="addinspectinfo" style="margin-top:15px;margin-left:50px;" type="primary" round>保存</el-button>
            <el-button @@click="backtomainpage" style="margin-top:15px;margin-left:50px;" type="primary" round>返回</el-button>
        </div>
    </div>

<el-dialog title="提示"
           :visible.sync="dialogVisible"
           width="30%"
          before-close="handleClose">
    <span>你还没有完成剩余杆塔的巡检,不能进行上传回执操作。</span>
    <span slot="footer" class="dialog-footer">
        <el-button @@click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @@click="dialogVisible = false">确 定</el-button>
    </span>
</el-dialog>

<el-dialog title="提示"
           :visible.sync="dialog1"
           width="30%"
           before-close="handleClose">
    <span>已经进行录入的杆塔不能进行第二次录入!</span>
    <span slot="footer" class="dialog-footer">
        <el-button @@click="dialog1 = false">取 消</el-button>
        <el-button type="primary" @@click="dialog1 = false">确 定</el-button>
    </span>
</el-dialog>
}

@section vuescript{
    <script>
         var pageindex = 1;
         var vue = new Vue({
             el: "#app",
             data: {
                 polelist: [],
                 inspectordeta: {},
                 taskdet: {},
                 txtbugtype: "",
                 txtbuglevel: "",
                 txtintactrate: "",
                 txtbugdesc:"",
                 bugtypelist: [],
                 buglevellist: [],
                 poleid: "",
                 polecode: "",
                 bugtypeid: "",
                 buglevelid: "",
                 bugtypename: "",
                 buglevelname: "",
                 idetails: [],
                 dialogVisible: false,
                 dialog1:false

             },
             methods: {
                 myload: function () {
                     axios.post("/XiTong/Inspector/GetPoleIdById", null).then(function (response) {
                         vue.inspectordeta = response.data.inspectordetails;
                         vue.bugtypelist = response.data.bugtypelist;
                         vue.buglevellist = response.data.buglevellist;
                         vue.idetails = response.data.taskdetails;

                         for (var i = 0; i < vue.idetails.length; i++) {                           
                             var li = "<li><span myisbug='" + vue.idetails[i].isBug+ "' id='" + vue.idetails[i].poleid + "' class='poles cc'>" + vue.idetails[i].poleCode + "</span></li>";
                             $(".poleul").append(li);
                         }
                         for (var i = 0; i < vue.idetails.length; i++) {
                             $(".poles").each(function (index, ele) {
                                 var vas = $(ele).attr("id");
                                 var myisbug = $(ele).attr("myisbug");
                                 if (vue.idetails[i].poleid == vas&&myisbug!="0") {
                                     $(ele).addClass("fc");
                                     $(ele).removeClass("cc");
                                 }
                                 
                             })
                         }
                         $(".cc:first").addClass("selected1");
                      
                         var selectvas = $(".selected1").text();
                         
                         vue.polecode = selectvas;
                         vue.poleid = $(".selected1").attr("id");
                         var poleids = $(".cc:first").attr("id");
                         var param2 = new URLSearchParams();
                         param2.append("poleid", poleids);
                         axios.post("/XiTong/Inspector/GetPoleDataById", param2).then(function (response1) {
                             vue.taskdet = response1.data.bugdet;
                         })
                         //span的点击事件 来获得所点击的杆塔编号
                         $(".poles").click(function () {
                             if ($(this).hasClass("fc")) {
                                
                                vue.dialog1 = true;
                             } else {
                                 $(".poles").each(function (index, ele) {
                                     $(ele).removeClass("selected1");
                                 })
                                 $(this).addClass("selected1");
                                 //获得点击的那个元素的id值
                                 var id = $(this).attr("id");
                                 vue.poleid = id;
                                 vue.polecode = $(this).text();
                                 var param = new URLSearchParams();
                                 param.append("poleid", id);
                                 axios.post("/XiTong/Inspector/GetPoleDataById", param).then(function (response2) {
                                     vue.taskdet = response2.data.bugdet;
                                 })
                             }
                         })
                     })

                     //实例化日期类 
                     var date = new Date();
                     //获得年份 
                     var year = date.getYear();
                     //获得月
                     var month = date.getMonth() + 1;
                     //获得日
                     var day = date.getDate();
                     //获得时分秒 
                     var hh = date.getHours();
                     var mm = date.getMinutes();
                     var ss = date.getSeconds();
                     //补零
                     if (mm < 10) {
                         mm = "0" + mm;
                     }
                     if (ss < 10) {
                         ss = "0" + ss;
                     }
                     year = year.toString().substr(1, 2);
                     var date = "20" + year + "-" + month + "-" + day + " " + hh + ":" + mm + ":" + ss;
                     $("#discovertime").text(date);

                    
                    
                 },
                 addinspectinfo: function () {
                     $("#bugtypemsg").text("");
                     $("#buglevelmsg").text("");
                     $("#intactratemsg").text("");

                     if (isNaN(this.txtintactrate)) {
                         $("#intactratemsg").text("杆塔完好率只能是数字!");
                         return;
                     }
                     if (this.bugtypeid == "") {
                         $("#bugtypemsg").text("请选择缺陷类型!");
                         return;
                     }
                     if (this.buglevelid == "") {
                         $("#buglevelmsg").text("请选择缺陷级别!");
                         return;
                     }
                     if (this.txtintactrate=="") {
                         $("#intactratemsg").text("杆塔完好率不能为空!");
                         return;
                     }
                     //发送ajax请求 
                     var param = new URLSearchParams();
                     param.append("taskid", this.inspectordeta.taskid);
                     param.append("poleid", this.poleid);
                     param.append("intactrate", this.txtintactrate);
                     param.append("buglevelname", this.buglevelname);
                     param.append("buglevel", this.buglevelid);
                     param.append("bugtypename", this.bugtypename);
                     param.append("bugtype", this.bugtypeid);                  
                     param.append("isbug",1);              
                     param.append("isbuglevel", 0);             
                     param.append("discovertime", $("#discovertime").text());
                     if (this.txtbugdesc != "") {
                         param.append("bugdesc", this.txtbugdesc);
                     } else {
                         param.append("bugdesc","无");
                     }
                    
                     axios.post("/XiTong/Inspector/AddInspectInfo", param).then(function (response) {
                         if (response.data == true) {
                             vue.$message('巡检信息录入成功');
                             window.location = '/XiTong/Inspector/ExcuteOrReceipt';
                         } else {
                             vue.$message('巡检信息录入失败');
                         }
                     })
                 },
                 change1: function (val) {
                     var list=this.bugtypelist;
                     for (var i = 0; i < list.length; i++) {
                         if (list[i].configValueId == val) {
                             this.bugtypename = list[i].configValueName;
                             this.bugtypeid = list[i].configValueId;
                         }
                     }
                 },
                 change2: function (val) {
                     var list = this.buglevellist;
                     for (var i = 0; i < list.length; i++) {
                         if (list[i].configValueId == val) {
                             this.buglevelname = list[i].configValueName;
                             this.buglevelid = list[i].configValueId;
                         }
                     }
                 },
                 uploadreceipt: function () {
                    
                         //发送ajax请求修改任务状态 
                         var param = new URLSearchParams();
                         param.append("taskid", this.inspectordeta.taskid);
                         axios.post("/XiTong/Inspector/UpdInspectStatus",param).then(function (response) {
                             if (response.data == true) {
                                 window.location = "/XiTong/Inspector/ExcuteOrReceipt";
                             }
                         })                
                 },
                 backtomainpage: function () {
                     window.location = '/XiTong/Inspector/ExcuteOrReceipt';
                 }
                 
             },
             mounted: function () {
                 this.$options.methods.myload();

             }
         })
    </script>
}






