
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestView</title>
</head>
<body>
    <div>
        <h1>Hello Wrold</h1>
        <a href="/Circuitmanage/Demo/Index">跳转页面</a>
    </div>
</body>
</html>
