
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script src="~/Scripts/vue.js"></script>
</head>
<body>
    <div id="imt"> 
        <div id="div1">
          11223  {{msg}}
        </div>
    </div>
</body>
</html>
<script>
    var _this = this;
    new Vue({
        el: "#",
        data: {
            msg:"test"
        }
    })
</script>
