
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyShareView.cshtml";
}

@section mycss{
<link href="~/Areas/Circuitmanage/Content/xlstyles.css" rel="stylesheet" />

}

@section myscript{

}
@section rightdiv{
    <div id="u16" class="ax_形状">
    <img id="u16_img" class="img " src="~/Areas/Circuitmanage/imgs/u16.png" />
    <!-- Unnamed () -->
    <div id="u17" class="text"></div>
</div>

<!-- 导航 (动态面板) -->
<div id="u18" class="ax_动态面板" data-label="导航">
    <div id="u18_state0" class="panel_state" data-label="系统管理">

        <!-- Unnamed (形状) -->
        <div id="u19" class="ax_形状">
            <img id="u19_img" class="img " src="~/Areas/Circuitmanage/imgs/u62.png" />
            <!-- Unnamed () -->
            <div id="u20" class="text"></div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u21" class="ax_文本">
            <img id="u21_img" class="img " src="~/Areas/Circuitmanage/imgs/transparent.gif" />
            <!-- Unnamed () -->
            <div id="u22" class="text">
                <p><span>杆塔管理</span></p>
            </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u23" class="ax_文本">
            <img id="u23_img" class="img " src="~/Areas/Circuitmanage/imgs/transparent.gif" />
            <!-- Unnamed () -->
            <div id="u24" class="text">
                <p><span>线路管理</span></p>
            </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u25" class="ax_文本">
            <img id="u25_img" class="img " src="~/Areas/Circuitmanage/imgs/transparent.gif" />
            <!-- Unnamed () -->
            <div id="u26" class="text">
                <p><span>缺陷管理</span></p>
            </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u27" class="ax_文本">
            <img id="u27_img" class="img " src="~/Areas/Circuitmanage/imgs/transparent.gif" />
            <!-- Unnamed () -->
            <div id="u28" class="text">
                <p><span>巡检任务</span><span>管理</span></p>
            </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u29" class="ax_文本">
            <img id="u29_img" class="img " src="~/Areas/Circuitmanage/imgs/transparent.gif" />
            <!-- Unnamed () -->
            <div id="u30" class="text">
                <p><span>消缺任务管理</span></p>
            </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u31" class="ax_文本">
            <img id="u31_img" class="img " src="~/Areas/Circuitmanage/imgs/transparent.gif" />
            <!-- Unnamed () -->
            <div id="u32" class="text">
                <p><span>系统管理</span></p>
            </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u33" class="ax_文本">
            <img id="u33_img" class="img " src="~/Areas/Circuitmanage/imgs/transparent.gif" />
            <!-- Unnamed () -->
            <div id="u34" class="text">
                <p><span>信息统计</span></p>
            </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u35" class="ax_文本">
            <img id="u35_img" class="img " src="~/Areas/Circuitmanage/imgs/transparent.gif" />
            <!-- Unnamed () -->
            <div id="u36" class="text">
                <p><span>我的工作平台</span></p>
            </div>
        </div>
    </div>

</div>
<div style="position:absolute;width:980px;top:135px;height:500px;background-color:#f4f4f4">
    <p style="margin-left:55px;margin-top:30px"><a style="color:black" href="/Circuitmanage/Circuit/Index">电力巡检系统>>线路管理</a>><a style="color:black" href="#">新增路线</a></p>
    <table class="table" >
        <tr>
            <td style="width:80px">
                <label style="padding-top:10px">线路编号:</label>
            </td>
            <td style="width:390px"><el-input @@blur="checklinecode" style="width:240px" v-model="lineCodetxt" id="lineCodetxt" placeholder="请输入线路编码"></el-input>
                <span id="msglinecode" style="color:red"></span>
            </td>
            
            <td style="width:80px">
                <label style="padding-top:10px">线路名称:</label>
            </td>
            <td>
                <el-input style="width:240px" @@blur="checklinename" v-model="lineNametxt" id="lineNametxt" placeholder="请输入线路名称"></el-input>
                <span id="msglineName" style="color:red"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label style="padding-top:10px">线路长度:</label>
            </td>
            <td><el-input style="width:240px" v-model="lineLengthtxt" id="lineLengthtxt" placeholder="请输入线路长度"></el-input></td>
            <td>
                <label style="padding-top:10px">回路长度:</label>
            </td>
            <td><el-input v-model="backLengthtxt" style="width:240px" id="backLengthtxt" placeholder="请输入回路长度"></el-input></td>
        </tr>
        <tr>
            <td>
                <label style="padding-top:10px">投运日期:</label>
            </td>
            <td>
                <el-date-picker v-model="value2" id="productDatetxt"
                                align="right"
                                style="width:240px"
                                type="date"
                                placeholder="选择日期"
                                :picker-options="pickerOptions1" value-format="yyyy-MM-dd">
                </el-date-picker>
            </td>
            <td>
                <label style="padding-top:10px">电压等级:</label>
            </td>
            <td><el-input v-model="voltageLeveltxt" style="width:240px" id="voltageLeveltxt" placeholder="请输入内容"></el-input></td>
        </tr>
        <tr>
            <td>
                <label style="padding-top:10px">起始杆号:</label>
            </td>
            <td>
                <el-input v-model="startPoleCodetxt" :disabled="true" style="width:240px" id="startPoleCodetxt"></el-input>
                <el-button type="text" @@click="dialogVisible = true">选择杆塔号</el-button>

                <el-dialog title="选择杆塔号"
                           :visible.sync="dialogVisible"
                           width="30%"
                           :before-close="handleClose">
                    <table>
                        <thead>
                            <tr>
                                <th>选择&nbsp;&nbsp;&nbsp;杆塔编号</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item,index) in datalist">
                                <td><el-radio v-model="radio" :label="item.poleCode">{{item.poleCode}}</el-radio></td>
                            </tr>
                        </tbody>
                        
                    </table>
                    <span slot="footer" class="dialog-footer">
                        <el-button @@click="dialogVisible = false">取 消</el-button>
                        <el-button type="primary" @@click="cli">确 定</el-button>
                    </span>
                </el-dialog>
            </td>
            <td>
                <label style="padding-top:10px">终止杆号:</label>
            </td>
            <td>
                <el-input v-model="endPoleCodetxt" :disabled="true" style="width:240px"></el-input>
                <el-button type="text" @@click="dialogVisible2 = true">选择杆塔号</el-button>

                <el-dialog title="选择杆塔号"
                           :visible.sync="dialogVisible2"
                           width="30%"
                           :before-close="handleClose2">
                    <table>
                        <thead>
                            <tr>
                                <th>选择&nbsp;&nbsp;&nbsp;杆塔编号</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item,index) in datalist">
                                <td><el-radio v-model="radio2" :label="item.poleCode">{{item.poleCode}}</el-radio></td>
                            </tr>
                        </tbody>

                    </table>
                    <span slot="footer" class="dialog-footer">
                        <el-button @@click="dialogVisible2 = false">取 消</el-button>
                        <el-button type="primary" @@click="cli2">确 定</el-button>
                    </span>
                </el-dialog>
            </td>
        </tr>
        <tr>
            <td>
                <label style="padding-top:10px">塔基数:</label>
            </td>
            <td><el-input v-model="towerBaseNumtxt" style="width:240px" id="towerBaseNumtxt" placeholder="请输入塔基数"></el-input></td>
            <td>
                <label style="padding-top:10px">备注:</label>
            </td>
            <td>
                <el-input type="textarea" id="commontxt"
                          :rows="2"
                          placeholder="请输入内容"
                          v-model="commontxt">
                </el-input>
            </td>
        </tr>
        <tr>
            <td>
                <label style="padding-top:3px">是否启用:</label>
            </td>
            <td>
                <label><input type="radio" name="isStart" id="isStart" checked="checked" value="1"/>启用</label>
                <label><input type="radio" name="isStart" id="isStart" value="0"/>停用</label>
            </td>
            <td>
                <label style="padding-top:3px">运行状态:</label>
            </td>
            <td>
                <label><input type="radio" name="status" id="runningStatusName" value="1" checked="checked"/>正常</label>
                <label><input type="radio" name="status" id="runningStatusName" value="2"/>维修中</label>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <button class="btn btn-primary" style="height:30px;width:65px" @@click="keep">保存</button>
                <button class="btn btn-primary" onclick="window.location = '/Circuitmanage/Circuit/Index'" style="height:30px;width:65px">取消</button>
            </td>
        </tr>
    </table>
    

    </div>
}
@section vuescript{
    <script>
        var myvue = new Vue({
            el:"#app",
            data:{
                pickerOptions1: {
                    disabledDate(time) {
                        return time.getTime() > Date.now();
                    },
                    shortcuts: [{
                        text: '今天',
                        onClick(picker) {
                            picker.$emit('pick', new Date());
                        }
                    }, {
                        text: '昨天',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: '一周前',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', date);
                        }
                    }]
                },
                value2: '', dialogVisible: false, dialogVisible2: false, radio: 'PC0001', radio2: 'PC0001',
                lineCodetxt: "", lineNametxt: "", lineLengthtxt: "", backLengthtxt: "", productDatetxt: "",
                voltageLeveltxt: "", startPoleCodetxt: "", endPoleCodetxt:"", towerBaseNumtxt: "", commontxt: "",
                datalist: [],
            },
            methods: {
                mydata: function () {
                    axios.post("/Circuitmanage/CircuitAdd/getdata", null).then(function (response) {
                        myvue.datalist = response.data;
                    })
                },
                cli: function () {
                    if (this.endPoleCodetxt == "") {
                        var param = new URLSearchParams();
                        param.append("pcode1", this.radio);
                        axios.post("/Circuitmanage/CircuitAdd/poleid", param).then(function (response) {

                        })
                        this.startPoleCodetxt = this.radio;
                        this.dialogVisible = false;
                    } else {
                        var param = new URLSearchParams();
                        param.append("pcode1", this.radio);
                        param.append("pcode2", this.radio2);
                        axios.post("/Circuitmanage/CircuitAdd/checkpole", param).then(function (response) {
                            if (response.data == true) {
                                
                                alert("起始杆塔不能大于终止杆塔");
                            } else {
                                myvue.startPoleCodetxt = myvue.radio;
                                myvue.dialogVisible = false;
                            }
                        })
                    }
                    
                },
                cli2: function () {
                    if (this.startPoleCodetxt != "") {
                        var param = new URLSearchParams();
                        param.append("pcode1", this.radio);
                        param.append("pcode2", this.radio2);
                        axios.post("/Circuitmanage/CircuitAdd/checkpole2", param).then(function (response) {
                            if (response.data == true) {
                               myvue.endPoleCodetxt = myvue.radio2;
                                myvue.dialogVisible2 = false;
                                
                            } else {
                                alert("终止杆塔不能小于起始杆塔");
                            }
                        })
                    } else {
                        var param = new URLSearchParams();
                        param.append("pcode2", this.radio2);
                        axios.post("/Circuitmanage/CircuitAdd/poleid2", param).then(function (response) {

                        })
                        this.endPoleCodetxt = this.radio2;
                        this.dialogVisible2 = false;
                    }
                },
                handleClose(done) {
                    this.$confirm('确认关闭？')
                      .then(_ => {
                          done();
                      })
                      .catch(_ => {});
                },
                handleClose2(done) {
                    this.$confirm('确认关闭？')
                      .then(_ => {
                          done();
                      })
                      .catch(_ => { });
                },
                keep: function () {
                    if (this.lineCodetxt == "" || this.lineNametxt == "" || this.startPoleCodetxt == "" || this.endPoleCodetxt == "" || this.lineLengthtxt == "" || this.backLengthtxt == "" || this.value2 == "" || this.towerBaseNumtxt == "" || this.voltageLeveltxt=="" || this.commontxt == "") {
                        alert("不能有空");
                    } else {
                        if ($(".f").length > 0) {
                            alert("线路编号已存在");
                        } else {
                            var isStarttxt = "";
                            var isStart = document.getElementsByName("isStart");
                            for (var i = 0; i < isStart.length; i++) {
                                if (isStart[i].checked) {
                                    isStarttxt = isStart[i].value;
                                }
                            }
                            var runningStatusNametxt = "";
                            var runningStatusName = document.getElementsByName("status");
                            for (var i = 0; i < runningStatusName.length; i++) {
                                if (runningStatusName[i].checked) {
                                    runningStatusNametxt = runningStatusName[i].value;
                                }
                            }
                            var param = new URLSearchParams();
                            param.append("lineCode", this.lineCodetxt);
                            param.append("lineName", this.lineNametxt);
                            param.append("lineLength", this.lineLengthtxt);
                            param.append("backLength", this.backLengthtxt);
                            param.append("productDate", this.value2);
                            param.append("voltageLevel", this.voltageLeveltxt);
                            param.append("startPoleCode", this.startPoleCodetxt);
                            param.append("endPoleCode", this.endPoleCodetxt);
                            param.append("towerBaseNum", this.towerBaseNumtxt);
                            param.append("common", this.commontxt);
                            param.append("isStart", isStarttxt);
                            param.append("status", runningStatusNametxt);
                            axios.post("/Circuitmanage/CircuitAdd/Addline", param).then(function (response) {
                                if (response.data == true) {
                                    alert("添加成功");
                                    window.location = "/Circuitmanage/Circuit/Index";
                                }
                            })
                        }
                        
                    }
                    
                    // alert(productDatetxt)
                    
                },
                checklinecode: function () {
                    if (this.lineCodetxt != "") {
                        var param = new URLSearchParams();
                        param.append("linecode", this.lineCodetxt);
                        axios.post("/Circuitmanage/CircuitAdd/ChecklineCode", param).then(function (response) {
                            if (response.data == true) {
                                $("#msglinecode").text("该线路编号已存在");
                                $("#msglinecode").addClass("f");
                            } else {
                                $("#msglinecode").text("");
                                $("#msglinecode").removeClass("f");
                            }
                        })
                    } else {
                        $("#msglinecode").text("线路编号不能为空");
                    }
                },
                checklinename: function () {
                    if (this.lineNametxt == "") {
                        $("#msglineName").text("线路名称不能为空");
                    } else {
                        $("#msglineName").text("");
                    }
                },
                checkstart: function () {
                    if (this.startPoleCodetxt == "") {
                        $("#msgstartPoleCode").text("起始杆号不能为空");
                    } else {
                        $("#msgstartPoleCode").text("");
                    }
                },
                checkend: function () {
                    if (this.endPoleCodetxt == "") {
                        $("#msgendPoleCode").text("终止杆号不能为空");
                    } else {
                        $("#msgendPoleCode").text("");
                    }
                    
                }
                
            }, created: function () {
                this.$options.methods.mydata();
            }
        })
    </script>
}

