
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyShareView.cshtml";
}

@section mycss{
    <link href="~/Areas/XiTong/Content/itstyles.css" rel="stylesheet" />
    <link href="~/Areas/XiTong/Content/axure_rp_page.css" rel="stylesheet" />
    <link href="~/Areas/XiTong/Content/data/styles.css" rel="stylesheet" />
    <link href="~/Areas/XiTong/Content/jquery-ui-themes.css" rel="stylesheet" />
    <link href="~/Areas/XiTong/Content/styles.css" rel="stylesheet" />
    <style>
        a:hover{
            text-decoration:none;
            color:none;
        }
      .db{
          color:#CCCCCC;
      }
      .cc{
         color:#428bca;
      }
          .selectinspcul li{
         line-height:25px;
         margin-bottom:5px;
         width:120px;
    }
            ul{
        padding:0px;
        margin:0px;
    }
    ul li{
        list-style:none;
    }
    ul li:hover{
        cursor:pointer;
    }
  
    .el-dialog__footer{
        text-align:initial;
    }
     .ss{
        padding:3px 10px;
    background-color:#d7d7d7;
    width:120px;
    display:inline-block;
    border-radius:4px;
    }
         .itaskcss{
            position:absolute;
            z-index:222;
            width:610px;
            border:1px solid #dddddd;
            border-radius:10px;
            background-color:white;
            margin-left:50px;
            margin-top:-450px;
            height:470px;
           
           
        }
        .overlay{
             position: fixed;
                        top: 0%;
                        left: 0%;
                        width: 100%;
                        height: 100%;
                        background-color: #000;
                        z-index: 110;
                        opacity: .60;
                       
        }
        .sss{
            display:none;
        }
          .cancletaskcss{
         position:absolute;
            z-index:222;
            width:400px;
            border:1px solid #dddddd;
            border-radius:10px;
            background-color:white;
            margin-left:150px;
            margin-top:-100px;
            height:180px;
        }
    </style>
}

@section myscript{
     
}

@section rightdiv{
     <!--模态框 -->
<div id="cancletaskdiv" class="cancletaskcss sss">
    <p style="font-size:20px;color:black;margin-left:150px;margin-top:10px;margin-bottom:15px;">取消任务</p>
    <p style="font-size:16px;margin-left:25px;margin-top:20px;">是否确定取消该任务?</p>
    <div style="margin-top:30px;text-align:right;margin-right:20px;">
        <el-button @@click="hidcanclediv">取 消</el-button>
        <el-button type="primary" @@click="comcancle">确 定</el-button>
    </div>
</div>
    <!-- Unnamed (形状) -->
    <div id="u16" class="ax_形状">
        <img id="u16_img" class="img " src="~/images/u16.png" />
        <!-- Unnamed () -->
        <div id="u17" class="text"></div>
    </div>

    <!-- 导航 (动态面板) -->
    <div id="u18" class="ax_动态面板" data-label="导航">
        <div id="u18_state0" class="panel_state" data-label="系统管理">

            <!-- Unnamed (形状) -->
            <div id="u19" class="ax_形状">
                <img id="u19_img" class="img " src="~/images/u62.png" />
                <!-- Unnamed () -->
                <div id="u20" class="text"></div>
            </div>

            <!-- 1 (形状) -->
            <div id="u21" class="ax_文本" data-label="1">
                <img id="u21_img" class="img " src="~/Areas/XiTong/imgs/transparent.gif" />
                <!-- Unnamed () -->
                <div id="u22" class="text">
                    <p><span>巡检任务制定与分配</span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u23" class="ax_文本">
                <img id="u23_img" class="img " src="~/Areas/XiTong/imgs/transparent.gif" />
                <!-- Unnamed () -->
                <div id="u24" class="text">
                    <p><span>杆塔管理</span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u25" class="ax_文本">
                <img id="u25_img" class="img " src="~/Areas/XiTong/imgs/transparent.gif" />
                <!-- Unnamed () -->
                <div id="u26" class="text">
                    <p><span>线路管理</span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u27" class="ax_文本">
                <img id="u27_img" class="img " src="~/Areas/XiTong/imgs/transparent.gif" />
                <!-- Unnamed () -->
                <div id="u28" class="text">
                    <p><span>缺陷管理</span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u29" class="ax_文本">
                <img id="u29_img" class="img " src="~/Areas/XiTong/imgs/transparent.gif" />
                <!-- Unnamed () -->
                <div id="u30" class="text">
                    <p><span>巡检任务</span><span>管理</span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u31" class="ax_文本">
                <img id="u31_img" class="img " src="~/Areas/XiTong/imgs/transparent.gif" />
                <!-- Unnamed () -->
                <div id="u32" class="text">
                    <p><span>消缺任务管理</span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u33" class="ax_文本">
                <img id="u33_img" class="img " src="~/Areas/XiTong/imgs/transparent.gif" />
                <!-- Unnamed () -->
                <div id="u34" class="text">
                    <p><span>系统管理</span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u35" class="ax_文本">
                <img id="u35_img" class="img " src="~/Areas/XiTong/imgs/transparent.gif" />
                <!-- Unnamed () -->
                <div id="u36" class="text">
                    <p><span>信息统计</span></p>
                </div>
            </div>

            <!-- 1 (形状) -->
            <div id="u37" class="ax_文本" data-label="1">
                <img id="u37_img" class="img " src="~/Areas/XiTong/imgs/transparent.gif" />
                <!-- Unnamed () -->
                <div id="u38" class="text">
                    <p><span>巡检任务</span><span>执行与回执</span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u39" class="ax_文本">
                <img id="u39_img" class="img " src="~/Areas/XiTong/imgs/transparent.gif" />
                <!-- Unnamed () -->
                <div id="u40" class="text">
                    <p><span>我的工作平台</span></p>
                </div>
            </div>

            <!-- 1 (形状) -->
            <div id="u41" class="ax_文本" data-label="1">
                <img id="u41_img" class="img " src="~/Areas/XiTong/imgs/transparent.gif" />
                <!-- Unnamed () -->
                <div id="u42" class="text">
                    <p><span>缺陷查询</span></p>
                </div>
            </div>
        </div>
    </div>
    
    <div style="width:100%;background-color:#f4f4f4;margin-top:70px;">
    <div class="container">
        <div class="row">
            <p style="margin-left:40px;margin-top:15px;">
                巡检任务管理>>&nbsp;巡检任务制定与分配
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <p style="margin-left:-50px;margin-top:15px;">
                <span style="float:left;font-size:14px;margin-top:10px;">任务编号:&nbsp;</span><el-input style="line-height:30px;width:200px;float:left;height:30px;" v-model="taskcode" placeholder="请输入内容"></el-input>
                 <span style="float:left;font-size:14px;margin-top:10px;margin-left:20px;">线路编号:&nbsp;</span><el-input  style="line-height:30px;width:200px;float:left;" v-model="linecode" placeholder="请输入内容"></el-input>
                <span style="margin-left:20px;">任务状态:&nbsp;</span><el-select style="width:150px;" clearable v-model="taskstatus" placeholder="请选择">
    <el-option v-for="item in options"
               :key="item.configValueId"
               :label="item.configValueName"
               :value="item.configValueName">
    </el-option>
</el-select>
            </p>
            <p style="margin-left:-50px;margin-top:15px;">
                <span style="float:left;font-size:14px;margin-top:10px;">下发人:&nbsp;</span><el-input style="line-height:30px;width:200px;float:left;height:30px;" v-model="createby" placeholder="请输入内容"></el-input>
                <span style="float:left;font-size:14px;margin-top:10px;margin-left:20px;">下发时间:&nbsp;</span><el-date-picker style="float:left;" v-model="taskcreatetime"
                type="datetimerange"
                :picker-options="pickerOptions2"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                align="right" value-format="yyyy-MM-dd HH:mm:ss">
              </el-date-picker>
               
            </p>
            <!-- Styled Button (形状) -->
            <div @@click="checkdata" id="u263" class="ax_形状" data-label="Styled Button">
                <img id="u263_img" class="img " src="~/Areas/XiTong/imgs/styled_button_u117.png" />
                <!-- Unnamed () -->
                <div id="u264" class="text">
                    <p><span>查询</span></p>
                </div>
            </div>

            <div @@click="transformtoadd"  id="u377" class="ax_形状" data-label="Styled Button">
                <img id="u377_img" class="img " src="~/Areas/XiTong/imgs/styled_button_u377.png" />
                <!-- Unnamed () -->
                <div id="u378" class="text">
                    <p><span>&nbsp; &nbsp;&nbsp; </span><span>制定巡检任务</span></p>
                </div>
            </div>

            <div id="u379" class="ax_图片">
                <img id="u379_img" class="img " src="~/Areas/XiTong/imgs/u242.png" />
                <!-- Unnamed () -->
                <div id="u380" class="text"></div>
            </div>

           </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12" style="margin-top:10px;padding-bottom:20px;">
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <th>
                            任务编号
                        </th>
                        <th>
                            任务名称
                        </th>
                        <th>
                           巡检线路
                        </th>
                        <th>
                          起始杆号
                        </th>
                        <th>
                            终止杆号
                        </th>
                        
                        <th>
                            状态
                        </th>
                        <th>
                            下发人
                        </th>
                        <th>
                            下发时间
                        </th>
                        <th>
                            完成时间
                        </th>
                        <th>
                          是否取消
                        </th>
                        <th>
                           操作
                        </th>                    
                    </tr>
                    <tbody>
                        <tr v-for="item in datalist">
                            <td>
                                {{item.inspectionTaskCode}}
                            </td>
                            <td>
                                {{item.inspectionTaskName}}
                            </td>
                            <td>
                                {{item.lineCode}}
                            </td>
                            <td>
                                {{item.startPoleCode}}
                            </td>
                            <td>
                                {{item.endPoleCode}}
                            </td>
                            <td>
                                <span style="color:orange;" v-if="item.taskStatus==1">
                                    待分配
                                </span>
                                <span style="color:blue;" v-if="item.taskStatus==2">
                                    已分配
                                </span>
                                <span style="color:#FF33CC;" v-if="item.taskStatus==3">
                                    执行中
                                </span>
                                <span style="color:green;" v-if="item.taskStatus==4">
                                    已完成
                                </span>
                              
                            </td>
                            <td>
                                {{item.issuedByName}}
                            </td>
                            <td>
                                {{item.issuedTime|timeFilter}}
                            </td>
                            <td>
                                {{item.finishTime|timeFilter}}
                            </td>
                            <td>
                                <span v-if="item.isCancel==1">
                                    是
                                </span>
                                <span v-if="item.isCancel==0">
                                    否
                                </span>
                            </td>
                            <td>
                               <a @@click="showdetail(item.id)">查看</a>&nbsp;|&nbsp;<span @@click="openinspectordialog(item.id)"  class="cc"  v-if="item.taskStatus==1">分配任务</span><span class="db" v-if="item.taskStatus!=1">分配任务</span>&nbsp;|&nbsp;<span @@click="openupdpage(item.id)" class="cc"  v-if="item.taskStatus==1">修改</span><span class="db"  v-if="item.taskStatus!=1">修改</span>&nbsp;|&nbsp;<span @@click="opendialog(item.id)" class="cc" v-if="item.isCancel==0">取消</span><span class="db" v-if="item.isCancel==1">取消</span>
                           
                             </td>
                        </tr>
                    </tbody>
                </table>
                <el-pagination @@size-change="handleSizeChange"
                               @@current-change="handleCurrentChange"
                               :current-page="currentPage4"
                               :page-sizes="[100, 200, 300, 400]"
                               :page-size="6"
                               layout="total,prev, pager, next, jumper"
                               :total="pagecount">
                </el-pagination>
            </div>
        </div>
        </div>

     <!--模态框-->
<div id="txtinspctors" class="itaskcss sss">
    <p style="font-size:20px;margin-top:10px;margin-left:10px;">分配巡检员</p>
        <p style="font-size:14px;font-weight:400;position:relative;left:50px;top:20px;">待选巡检员</p><p style="font-size:14px;font-weight:400;width:100px;margin-left:330px;">已选巡检员</p>
        <div style="width:100%;height:300px;margin-left:50px;">
            <div style="width:200px;border:1px solid black;float:left;height:300px;overflow:scroll;">
                <ul id="noyetuseul" class="selectinspcul" style="font-size:13px;font-weight:400;">
                    <li class="ckitem" :id="item.id" @@click="isselected($event,item)" v-for="item in userlist">
                        {{item.userName}}
                    </li>
                </ul>
            </div>
            <div style="float:left;width:80px;padding-left:20px;margin-top:40px;">
                 <div @@click="selectall">
                     <img src="~/Areas/XiTong/imgs/u448.png" />
                 </div>
               <div @@click="noselectall">
                   <img src="~/Areas/XiTong/imgs/u450.png" />
               </div>
            </div>
            <div style="width:200px;border:1px solid black;float:left;height:300px;overflow:scroll;">
                <ul id="yetusedul" class="selectinspcul" style="font-size:13px;font-weight:400;">
                    <li v-for="item in inspeclist">
                        <span>{{item.userName}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div style="margin-top:30px;text-align:right;margin-right:20px;">
            <el-button @@click="hidtaskdiv">取 消</el-button>
            <el-button type="primary" @@click="comsave">保存</el-button>
        </div>
   
</div>

    <div class="overlay sss"> </div>
   

}

@section vuescript{
     <script>
         var pageindex = 1;
         var vue = new Vue({
             el: "#app",
             data: {
                 currentPage4:"1",
                 taskid:"",
                 taskcode: "",
                 linecode: "",
                 taskstatus: "",
                 options: [],
                 datalist:[],
                 pagecount: 0,
                 dialogFormVisible:false,
                 dialogVisible:false,
                 createby:"",
                 taskcreatetime:"",
                 pickerOptions2: {
                     shortcuts: [{
                         text: '最近一周',
                         onClick(picker) {
                             const end = new Date();
                             const start = new Date();
                             start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                             picker.$emit('pick', [start, end]);
                         }
                     }, {
                         text: '最近一个月',
                         onClick(picker) {
                             const end = new Date();
                             const start = new Date();
                             start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                             picker.$emit('pick', [start, end]);
                         }
                     }, {
                         text: '最近三个月',
                         onClick(picker) {
                             const end = new Date();
                             const start = new Date();
                             start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                             picker.$emit('pick', [start, end]);
                         }
                     }]
                 },
                 userlist: [],
                 inspeclist: [],
                 templist: [],
                 taskcode2: "",
                 linecode2: "",
                 taskstatus2: "",
                 createby2: "",
                 ptime1: "",
                 ptime2: ""

             },
             methods: {
                 myload: function () {
                     //创建参数对象 
                     var param = new URLSearchParams();
                     //获得点击的之前的元素的ID值   即当前添加菜单节点的父节点
                     param.append("pageindex",pageindex);
                     axios.post("/XiTong/InspeTaskm/GetData", param).then(function (response) {
                         vue.datalist = response.data.imlist;
                         vue.options = response.data.syslist;
                         vue.pagecount = response.data.pagecount;

                     })
                 },
                 handleSizeChange(val) {
                     console.log(`每页 ${val} 条`);
                 },
                 handleCurrentChange(val) {
                     //创建参数对象 
                     var param = new URLSearchParams();
                     //获得点击的之前的元素的ID值   即当前添加菜单节点的父节点
                     param.append("pageindex", val);
                     param.append("taskcode", this.taskcode2);
                     param.append("linecode", this.linecode2);
                     param.append("createby", this.createby2);
                     param.append("taskstatus", this.taskstatus2);

                     if (this.ptime2 != "" && this.ptime1 != "") {
                         param.append("time1", this.ptime1);
                         param.append("time2", this.ptime2);
                     }
                       
                     axios.post("/XiTong/InspeTaskm/SelectData", param).then(function (response) {
                         vue.datalist = response.data.imlist;
                         vue.pagecount = response.data.pagecount;

                     })
                 },
                 checkdata: function () {
                     this.taskcode2 = this.taskcode;
                     this.linecode2 = this.linecode;
                     this.createby2 = this.createby;
                     this.taskstatus2 = this.taskstatus;
                     //创建参数对象 
                     var param = new URLSearchParams();
                     //获得点击的之前的元素的ID值   即当前添加菜单节点的父节点
                     param.append("pageindex", 1);
                     param.append("taskcode", this.taskcode2);
                     param.append("linecode", this.linecode2);
                     param.append("createby", this.createby2);
                     param.append("taskstatus", this.taskstatus2);
                     if (this.taskcreatetime!=null) {
                         if (this.taskcreatetime.length > 0) {
                             this.ptime1 = this.taskcreatetime[0];
                             this.ptime2 = this.taskcreatetime[1];
                             param.append("time1", this.ptime1);
                             param.append("time2", this.ptime2);
                         } 
                     } 
                     axios.post("/XiTong/InspeTaskm/SelectData", param).then(function (response) {
                         vue.datalist = response.data.imlist;
                         vue.pagecount = response.data.pagecount;

                     })
                 },
                 //查看详细信息 
                 showdetail: function (id) {
                     var param = new URLSearchParams();
                     param.append("taskid", id);
                     axios.post("/XiTong/InspeTaskm/SaveIdBySession", param).then(function (response) {
                         window.location = "/XiTong/InspeTaskm/InspectDetails";
                     })
                 },
                 openupdpage: function (id) {
                     var param = new URLSearchParams();
                     param.append("taskid", id);
                     axios.post("/XiTong/InspeTaskm/SaveIdBySession", param).then(function (response) {
                         window.location = "/XiTong/InspeTaskm/UpdTaskPage";
                     })
                 },
                 hidtaskdiv:function(){
                     $("#txtinspctors").addClass("sss");
                     $(".overlay").addClass("sss");
                 },
                 hidcanclediv:function(){
                     $("#cancletaskdiv").addClass("sss");
                     $(".overlay").addClass("sss");
                 },
                 opendialog: function (id) {
                     this.taskid = id;
                     $("#cancletaskdiv").removeClass("sss");
                     $(".overlay").removeClass("sss");
                 },
                 comcancle:function(){
                     var param = new URLSearchParams();
                     param.append("taskid", this.taskid);
                     axios.post("/XiTong/InspeTaskm/CancleTask", param).then(function (response) {
                         if (response.data == true) {
                             vue.$message('取消任务成功!');
                             vue.myload();
                            
                         } else {
                             vue.$message('取消任务失败,只有未分配的任务才能取消!');
                         }
                         $("#cancletaskdiv").addClass("sss");
                         $(".overlay").addClass("sss");
                     })
                 },
              selectinspector: function () {                 
             $(".ckitem").each(function (index,ele) {
                 $(ele).removeClass("ss");
             })
             var list=this.inspectors2;
             for (var i = 0; i < list.length; i++) {
                 $(".ckitem").each(function (index,ele) {
                     if (list[i].id == $(ele).attr("id")) {
                         $(ele).addClass("ss");
                     }
                 })
             }

             this.dialogFormVisible = true;
         },
         isselected: function (event, item) {
             var ele = event.currentTarget;
             var list = this.templist;
             var list2 = this.inspeclist;
             if ($(ele).hasClass("ss")) {
                 $(ele).removeClass("ss");
                 for (var i = 0; i < list.length; i++) {
                     if (item.id == list[i].id) {
                         this.templist.splice(i, 1);
                         for (var i = 0; i < list2.length; i++) {
                             if (item.id == list2[i].id) {
                                 this.inspeclist.splice(i, 1);
                             }
                         }
                     }
                 }
             } else {
                 $(ele).addClass("ss"); 
                 this.templist.push({ id: item.id, userCode: item.userCode, userName: item.userName });
                 this.inspeclist.push({ id: item.id, userCode: item.userCode, userName: item.userName });
             }
         },
         comsave: function () {
             //this.dialogFormVisible = false;
          
             var strs = "";
             for (var v in this.templist) {
                 strs += this.templist[v].id + ",";
               
             }
             var index = strs.lastIndexOf(',');
             strs = strs.substr(0, index);
             var param = new URLSearchParams();
             param.append("taskid", this.taskid);
             param.append("inspectors", strs);
             axios.post("/XiTong/Inspector/AddInspector", param).then(function (response) {
                 if (response.data == true) {
                     vue.$message('任务分配成功!');
                     vue.myload();

                 } else {
                     vue.$message('任务分配失败!');
                 }
              
             })
             //隐藏div
             $("#txtinspctors").addClass("sss");
             $(".overlay").addClass("sss");
              
         },     //全选事件
         selectall: function () {
             this.templist.length = 0;
             this.inspeclist.length = 0;
             var list = this.userlist;
             for (var i = 0; i < list.length; i++) {
                 this.templist.push({ id: list[i].id, userCode: list[i].userCode, userName: list[i].userName });
                 this.inspeclist.push({ id: list[i].id, userCode: list[i].userCode, userName: list[i].userName });
             }

             //添加选中样式 
             $(".ckitem").each(function (index, ele) {
                 if (!$(ele).hasClass("ss")) {
                     $(ele).addClass("ss");
                 }
             })

         },    //非全选事件 
         noselectall:function(){         
             this.templist.length = 0;
             this.inspeclist.splice(0, this.inspeclist.length);
               
            
             //取消选中样式 
             $(".ckitem").each(function (index, ele) {
                 $(ele).removeClass("ss");
             })

            
         },
         openinspectordialog: function (id) {
             this.taskid = id;
             axios.post("/XiTong/Inspector/GetData", null).then(function (response) {
                 vue.userlist = response.data.userlist2;          
                 vue.templist.length = 0;
             })
             
             $(".ckitem").each(function (index,ele) {
                 $(ele).removeClass("ss");
             })

             //显示div
             $("#txtinspctors").removeClass("sss");
             $(".overlay").removeClass("sss");
         },
         transformtoadd: function () {
             window.location = "/XiTong/InspeTaskm/AddInspectTask";
         }
                
             },
             created: function () {
                 this.$options.methods.myload();

             },
             filters: {
             timeFilter: function (value) {
                 //非空验证
             if (!value) {
                 return '';
             } else {
                 var strs = value.split('T');
                 //获得最后一个点的索引
                 var index = strs[1].indexOf('.');
                 strs[1] = strs[1].substring(0, index);
                 var str = "";
                    
                 return strs[0] + " " + strs[1];
             }
         }
         }
         })
     </script>
    }




